#main-content {
  max-width: 980px;
  width: 100%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .images {
    order: 2;
    width: 80%;
    margin-left: auto;

    .img-mobile {
      display: none;
    }
  }

  .infos {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .text-container {
      h1 {
        font-size: 4rem;
        margin-top: 4rem;
      }

      p {
        font-size: 1rem;
      }

      button {
        font-size: 1rem;
      }
    }

    .clients {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}
