#main-content {
  max-width: 980px;
  width: 100%;
  margin: 3rem auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .images {
    order: 2;
    width: 80%;
    margin-left: auto;

    .img-mobile {
      display: none;
    }
  }

  .infos {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .text-container {
      h1 {
        color: $almost-black;
        font-size: 4rem;
        margin: 4rem 0 2rem 0;
      }

      p {
        color: $medium-gray;
        font-size: 1rem;
        line-height: 26px;
        padding: 0 4rem 3rem 0;
      }

      button {
        background-color: $almost-black;
        color: $almost-white;
        font-size: 1rem;
        font-weight: 700;
        padding: 0.8rem 1.2rem;
        border: 2px solid transparent;
        border-radius: 10px;
        transition: .3s;
        cursor: pointer;

        &:hover{
          background-color: transparent;
          color: $almost-black;
          border: 2px solid $medium-gray;
        }
      }
    }

    .clients {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 3rem 0;

    }
  }
}

@media (max-width: 868px){
  #main-content{
    grid-template-columns: 1fr;
    padding: 0;
    margin-top: 0;

    .images{
      order: 1;
      width: 100%;
      margin: 0 auto;

      .img-mobile{
        display: block;
        margin: 0 auto;
      }
      .img-desktop{
        display: none;
      }
    }

    .infos{
      order: 2;

      .text-container{
        text-align: center;

        h1{
          font-size: 2.2rem;
          margin-bottom: 0;

          .tag-br{
            display: none;
          }
        }

        p{
          padding: 1.5rem 1rem;
        }
      }

      .clients{

        .client{
          max-width: 20%;
        }
      }
    }
  }
}