/* keyframes
***************/
@-webkit-keyframes show-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes show-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

header#header {
  height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e7e7e7;
  padding: 1rem;
}

header#header .hero {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid red;
}

header#header .hero #logo {
  padding: 1rem;
}

header#header .hero nav#nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header#header .hero nav#nav #btn-mobile {
  display: none;
}

header#header .hero nav#nav ul#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 0.5rem;
  /* Dropdown
        *******************/
}

header#header .hero nav#nav ul#menu a {
  display: block;
  padding: 0.5rem;
}

header#header .hero nav#nav ul#menu [data-dropdown] {
  position: relative;
}

header#header .hero nav#nav ul#menu [data-dropdown] .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #e7e7e7;
  list-style: none;
  border: 1px solid black;
  z-index: 999;
}

header#header .hero nav#nav ul#menu [data-dropdown]:hover .dropdown-menu,
header#header .hero nav#nav ul#menu [data-dropdown].active .dropdown-menu {
  display: block;
}

header#header .hero nav#nav .container-btns {
  border: 1px solid red;
}

/* Media queries
*************************/
@media (max-width: 768px) {
  header#header .hero {
    /* Menu mobile
      *****************/
  }
  header#header .hero nav#nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    border: 1px solid red;
  }
  header#header .hero nav#nav #btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  header#header .hero nav#nav ul#menu {
    display: block;
    position: absolute;
    width: 50%;
    top: 70px;
    right: 0;
    background: #e7e7e7;
    height: 0px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    /* Dropdown
          *******************/
  }
  header#header .hero nav#nav ul#menu a {
    font-weight: bold;
    padding: 1rem 1rem;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  header#header .hero nav#nav ul#menu [data-dropdown] .dropdown-menu {
    position: static;
  }
  header#header .hero nav#nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
  }
  header#header .hero nav#nav .container-btns {
    display: none;
  }
  header#header .hero nav#nav #hamburguer {
    width: 20px;
    border-top: 2px solid;
  }
  header#header .hero nav#nav #hamburguer::after, header#header .hero nav#nav #hamburguer::before {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background-color: currentColor;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header#header .hero nav#nav.active #hamburguer {
    border-top-color: transparent;
  }
  header#header .hero nav#nav.active #hamburguer::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  header#header .hero nav#nav.active #hamburguer::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: -7px;
  }
}

* {
  font-family: 'Epilogue', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
/*# sourceMappingURL=main.css.map */