#header{
  display: block;
  padding: 0 2rem;
}

#hero{
  display: flex;
  align-items: center;
}

#hero .logo{
  margin-right: 4rem;
}

#nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Menu
**********/
#menu{
  display: flex;
}

#menu > li{
  color: var(--medium-gray);
  font-weight: 700;
  padding: 30px 15px;
  cursor: pointer;
}
#menu > li:hover{
  color: var(--almost-black);
}

#btn-mobile{
  display: none;
}

/* Dropdown Menu
*******************/
[data-dropdown]{
  position: relative;
  display: flex;
  align-items: center;
}

[data-dropdown]::after{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background-image: url('../../img/icon-arrow-down.svg');
  background-repeat: no-repeat;
  transition: .3s;
}

[data-dropdown]:hover::after{
  background-image: url('../../img/icon-arrow-up.svg');
  transform: rotateY(180deg);
  transition: .3s;
}

[data-dropdown] .dropdown-menu{
  display: none;
}
[data-dropdown]:hover .dropdown-menu{
  display: block;
}

.dropdown-menu{
  position: absolute;
  top: 75px;
  background-color: var(--almost-white);
  box-shadow: 0px 10px 25px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 20px;
  z-index: 999;
}

.dropdown-menu li{
  width: 120px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-menu li a{
  color: var(--medium-gray);
  margin: 10px;
}
.dropdown-menu li:hover a{
  color: var(--almost-black);
}

.dropdown-menu li img{
  margin-right: 5px;
}

.dropdown-left{
  right: 10px;
}

.dropdown-right{
  left: 10px;
}

/* login & register btns
***************************/


/* Media queries
*******************/